


*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: goldenrod;
    /*background: url("")no-repeat;
    background-position: center;
    background-size: cover;*/
}

.from-box{
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border:2px solid rgba(255,255,255,0.56);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;



}

h2{
    font-size: 2em;
    color: rgb(56, 157, 170);
    text-align: center;

}

.inmputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;


}

.inmputbox label{
    position: absolute; 
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #a31919;
    font-size: 1em;
    pointer-events: none;
    transition: .3s;
}


input:focus~ label,
input:valid~label{
top: -5px;
}


.inmputbox input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #fff;

}

.inmputbox ion-icon{
    position: absolute;
    right: 8px;
    color: #a31919;
    font-size: 1.2em;
    top: 20px;
}





button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #2e2d8f;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;    
}

.registrer{
    font-size: .9em;
    color: rgb(155, 14, 14);
    text-align: center;
    margin: 25px 0 10 px;
}


.registrer p a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;

}

.registrer p a:hover{
    text-decoration:underline;
    
}


