{%extends "base.html"%} 
{%block title%}__ esto es cine___{%endblock%} 


{% block content %} 
{% csrf_token %}
{%load static%}

   
    <h5>filtros </h5>
    <a href="{% url 'apps.publicaciones:filtradoaz'%}">a -z</a> 
    <a href="{% url 'apps.publicaciones:filtradoza'%}">z -a</a> 
    <a href="{% url 'apps.publicaciones:filtradomenor'%}">menor -mayot</a> 
    <a href="{% url 'apps.publicaciones:filtradomayor'%}">mayor-menor</a> 
     
   

{% comment %} 
- Antigüedad (asc y desc).
 - Orden alfabético (asc y desc) 
  </select>
  <select>
    <option disabled selected="">del mas antigo </option>
    
    <option>Antig moderno</option>
    <option>menos antiguo</option>
    

{% endcomment %}
  


{%for p in peliculas %}




<li>
  <h3>
    <ul>
    <label>nombre:{{p.nombre}}</label>
    <label>review:{{p.review}}</label>
    </ul>
    <ul>
      <label>fechade emecion: {{p.fechachaEmicion}}</label>
      <label>categoria: {{p.Categoria}}</label>
      </ul>
     
      <ul>
        <label>enlace :{{p.enlace}}</label>
        </ul>
      
    
      {{p.enlace}} 
    {% if p.imagen %}
    <p>
        <img src="{{p.imagen.url}}">
    </p>
    {% endif %}
   



  </h3>
  
  <a href="{% url 'apps.publicaciones:mostrar_publicacion' p.id %}">ver</a>
  {%if request.user.is_staff%}
  <a href="{% url 'apps.publicaciones:editar_publicacion' p.id %}">edit</a>
  <a href="{% url 'apps.publicaciones:eliminar_publicacion' p.id %}">eliminar</a>
  {%endif%}
          
  

</li>
{%endfor%} 
{% endblock %}
